
@mixin flex-font {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-family: $fonts;
    font-weight: 600;
    font-size: 3rem;
}

@mixin shapes ($color) {
    width: 30rem;
    height: 30rem;
    background-color: $color;
    border-radius: 10%;
    display: inline-block;
    cursor: pointer;
}

// responsive
@mixin media-400px {
    width: 20rem;
    height: 20rem;
}

@mixin hover {
    -webkit-box-shadow: 1px 1px 15px 13px #F5FFF7; 
    box-shadow: 1px 1px 15px 13px #F5FFF7;
}
